/*Title Sizing*/
h1 {
  position: absolute;
  font-size: 40px;
  color: #ad4e05;
  height: 400px;
  text-align: center
}


/*Formatting Input Bar*/
#span1 {
  position: absolute;
  top: 20px;
  left: 0px;
  float: left;
}

#user {
  font-size: 18px;
  color: #1c8e6a;
  float: left;
}

/*Formatting the main body */
body{
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Robot0", sans-serif;
  background: #333;
}

/* Pulls data[i] from data-num in class */
.bars .bar:before{
  color: #fff;
  content: attr(data-num);
}
